body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

header {
    background-color: light gray;
    color: black;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav {
    text-align: center;
    background-color: white;
    padding: 10px 0;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: light blue;
}


main {
    padding: 20px;
    text-align: center;
}

.introduction, .my-story {
    background-color: white;
    padding: 130px;
    border-radius: 2px;
    box-shadow: 0 0 05px rgba(0, 0, 0, 0.1);

.profile-image, .intro-image {
    width: 300px; /* Adjust the width of the images */
    height: 200px ;
    float: right;
    margin: 60px 20px 20px 0; /* Center the images */
    border-radius: 10px; /* Adds rounded corners to the images */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow effect */
}
}

.registration-form {
    background-color: white;
    padding: 130px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 0 auto;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid green;
    border-radius: 5px;
}



footer {
    background-color: deep teal;
    color: light blue;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

.social-links a {
    color: black;
    text-decoration: none;
}

.social-links a:hover {
    color: yellow;
}


@media (max-width: 768px) {
    .registration-form {
        width: 50%;
    }
}
